# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Flask / local server
instance/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Python build artifacts
build/
dist/
*.egg-info/
